{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "jquery": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "space-before-blocks": "error",
    "space-before-function-paren": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "brace-style": "error",
    "keyword-spacing": "error"
  }
}
