// Colors
$body-bg: #f1f1f1;
$body-color: #1e1f20;
$grey: #d7d7d7;
$primary: tomato;

// Fonts
$font-family-base: 'Open Sans', sans-serif !default;
$font-size-base: 16px !default;

$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;

$content-padding-base: 30px;
