// Colors
$seashell: #f1f1f1;
$shark-dark: #1e1f20;
$alto-grey: #d7d7d7;
$primary: tomato;

$body-bg: $seashell;
$text-dark: $shark-dark;
$text-light: $alto-grey;

// Fonts
$font-family-base: 'Open Sans', sans-serif !default;
$font-size-base: 16px !default;

$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;

$content-padding-base: 30px;
